In [106]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.ml import Pipeline

In [107]:
# instantiate a spark context object
appname= "large_read_tar"
master="local"

# Create Spark Session
spark = SparkSession.builder.appName(appname).getOrCreate()

In [108]:
from pyspark.sql import Row
from pyspark.sql.functions import *
df_test = spark.createDataFrame(
    [Row(col1="abc12edf", col2=11),
     Row(col1="ddddd12bldasd", col2=22) ]
)
df_test.show()

+-------------+----+
|         col1|col2|
+-------------+----+
|     abc12edf|  11|
|ddddd12bldasd|  22|
+-------------+----+

In [109]:
rez = split(df_test.col1,'[0-9]+')
rez

Column<split(col1, [0-9]+)>

In [110]:
df_test.show()

+-------------+----+
|         col1|col2|
+-------------+----+
|     abc12edf|  11|
|ddddd12bldasd|  22|
+-------------+----+

In [111]:
df_test.select(rez.alias('split_op')).show()
print("df_test is not affected ")
df_test.show()

+---------------+
|       split_op|
+---------------+
|     [abc, edf]|
|[ddddd, bldasd]|
+---------------+

df_test is not affected
+-------------+----+
|         col1|col2|
+-------------+----+
|     abc12edf|  11|
|ddddd12bldasd|  22|
+-------------+----+

In [112]:
def map_function(partition):
    for row in partition:
        row[1] + 'dota2'
    
t1.foreachPartition(map_function)
t1.show()

+---+-----+
|age| name|
+---+-----+
|  1|Alice|
| 11|  Bob|
+---+-----+

In [113]:
df_test.show()

+-------------+----+
|         col1|col2|
+-------------+----+
|     abc12edf|  11|
|ddddd12bldasd|  22|
+-------------+----+

In [114]:
df_test.printSchema()

root
 |-- col1: string (nullable = true)
 |-- col2: long (nullable = true)

In [115]:
a = df_test.select('col1')

In [118]:
ar = a.rdd
ar.take(1)

[Row(col1=u'abc12edf')]

In [31]:
# type(a) --> pyspark.sql.dataframe.DataFrame
# when map --> make sure it's in a tuple!!!!!!
b = a.rdd.map(lambda x: (x[0].encode('utf-8')+'dota2',))
type(b)
#b.collect()

pyspark.rdd.PipelinedRDD

In [35]:
t = b.collect()

[('abc12edfdota2',), ('ddddd12bldasddota2',)]

In [43]:
r= b.map(lambda x: (x[0] + '_added' ))
r.collect()

['abc12edfdota2_added', 'ddddd12bldasddota2_added']

In [41]:
# import all possible types
from pyspark.sql.types import *

# class pyspark.sql.types.StructField(name, dataType,
# nullable=True, metadata=None)
schema =StructType([StructField("col2", StringType(), True),])
df_modified = spark.createDataFrame(b, schema)

In [34]:
df_modified.show()

+------------------+
|              col2|
+------------------+
|     abc12edfdota2|
|ddddd12bldasddota2|
+------------------+